html, body {
    height: 100vh;
    margin: 0;
    background-color: var(--tg-theme-bg-color)
}

h6 {
    color: var(--tg-theme-text-color);
    font-size: large;
}

.card {
    background-color: var(--tg-theme-bg-color);
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.1) 0 8px 10px -6px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    animation: card-pop .4s cubic-bezier(0.0, 0.0, 0.2, 1.0);
}

.delay0 {
    animation-delay: -0.16s;
}

.delay1 {
    animation-delay: -.08s;
}

.delay2 {
    animation-delay: 0s;
}

.card > img {
    object-fit: cover;
    width: 100%;
    height: 50%;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin: 0;
}

.card-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    color: var(--tg-theme-text-color);
}

.card.image-full > .card-body {
    z-index: 20;
}

.card.image-full {
    display: grid;
}

.card.image-full > img {
    height: 100%;
}

.card.image-full::before, .card.image-full > * {
    grid-column-start: 1;
    grid-row-start: 1;
}

.card.image-full::before {
    z-index: 10;
    background-color: rgb(61, 68, 81);
    opacity: 0.75;
    position: relative;
    content: "";
}

.card.image-full > .card-body {
    color: white
}

@keyframes card-pop {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
        transform: scale(0.92);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

button {
    background-image: none;
}

.btn {
    display: inline-flex;
    flex-shrink: 0;
    cursor: default;
    user-select: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    text-align: center;
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    border-radius: .5rem;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    line-height: 1em;
    min-height: 3rem;
    font-weight: 600;
    text-decoration-line: none;
    border-width: 1px;
    animation: button-pop .25s ease-out;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-secondary-bg-color);
}

.btn.btn-primary {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

.btn:active:hover,
.btn:active:focus {
    animation: none;
    transform: scale(0.95);
}

.loadable {
    transition-property: opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.loading {
    opacity: 0.5;
    pointer-events: none;
}

@keyframes button-pop {
    0% {
        transform: scale(.95)
    }
    40% {
        transform: scale(1.02)
    }
    to {
        transform: scale(1)
    }
}

.input {
    flex-shrink: 1;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    line-height: 2;
    border-width: 2px;
    border-color: transparent;
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
    border-radius: .5rem;
}

.input:focus {
    outline: none;
    border-color: var(--tg-theme-button-color);
}

input::placeholder {
    color: var(--tg-theme-text-color);
}

.form-control {
    display: flex;
    flex-direction: column;
}

.cursor-pointer {
    cursor: default;
}

.label {
    flex: 1;
    display: flex;
    user-select: none;
    align-items: center;
    justify-content: space-between;
    padding: .5rem .25rem;
}

.label-text {
    font-size: .875rem;
    line-height: 1.25rem;
    color: var(--tg-theme-text-color);
}

.checkbox:checked {
    background-color: var(--tg-theme-button-color);
    background-repeat: no-repeat;
    animation: checkmark .2s ease-in-out;
    background-image: linear-gradient(-45deg, transparent 65%, var(--chkbg) 65.99%), linear-gradient(45deg, transparent 75%, var(--chkbg) 75.99%), linear-gradient(-45deg, var(--chkbg) 40%, transparent 40.99%), linear-gradient(45deg, var(--chkbg) 30%, var(--chkfg) 30.99%, var(--chkfg) 40%, transparent 40.99%), linear-gradient(-45deg, var(--chkfg) 50%, var(--chkbg) 50.99%);
}

.checkbox {
    --chkbg: var(--tg-theme-button-color);
    --chkfg: var(--tg-theme-button-text-color);
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
    appearance: none;
    border-width: 2px;
    border-color: var(--tg-theme-button-color);
    border-radius: .5rem;
    border-style: solid;
}

@keyframes checkmark {
    0% {
        background-position-y: 5px
    }
    50% {
        background-position-y: -2px
    }
    to {
        background-position-y: 0
    }
}
